/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #e2e8f0;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

nav h1 {
    font-weight: 700;
    color: #38bdf8;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 300px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.7;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.bert {
    background-color: #00aaff; /* Blue color */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px; /* Rounded shape */
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bert:hover {
    background-color: #0088dd; /* Darker blue when hover */
    transform: scale(1.05);
}

/* SECTION */
.section {
    padding: 60px 50px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.6;
}


div.center{
    width: auto;
}

div.center img{
    width: 20%;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: 530px;
}

